<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wifitoos</title>
    <link rel="stylesheet" href="plug/foundation/css/foundation.min.css">
    <script src="plug/foundation/js/vendor/jquery.js" ></script>
    <script src="plug/foundation/js/vendor/foundation.min.js" ></script>
    <script src="plug/foundation/js/app.js" ></script>
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="#">主页</a></li>
                <li><a href="mortgage_calculate_pc.html">房贷计算器</a></li>
            </ul>
        </div>
    </div>
</body>
</html>